PRIVATE_KEY=<YOUR_PRIVATE_KEY> #oracle wallet private key
# This is the private key of the oracle wallet. It should be kept secret and not shared with anyone.
ORACLE_CONTRACT_ADDRESS=<YOUR_ORACLE_CONTRACT_ADDRESS>
RPC_URL=<YOUR_RPC_URL>